body {
	background-color: #ffffff;
	color:white;
	padding:0px;
	margin:0px;
	word-spacing:.06em;
}

#canvas {
	position:absolute;
	top:0px;
}

#explain {
	width:150px;
	left:0px;
	top:0px;
	position:absolute;
	font-family:arial, sans-serif;
	font-size:11px;
	color:white;
}

a {
	color:yellow;
}

a:hover {
	color: #292929;
	background-color: aqua;
}

span {
	padding: 2px;
	line-height:16px;
	background-color: #3e3e3e;
}

